<div class="card">
  <a href="#">
    <div class="card__preview">
      <img class="card__img" src="img/poster-1.jpg" alt="Movie poster">
      <button class="card__favourites-btn btn-clear" type="button">
        <!-- <svg>
            <use href="img/icons/icons.svg#add"/>
        </svg> -->
        <img src="img/add-icon.svg" alt="Add to favourites icon">
      </button>
    </div>
    <div class="card__info">
      <a class="card__title" href="#">Top Gun: Maverick (2022)</a>
      <a class="card__category" href="#">Action</a>
    </div>
  </a>
</div>