<div class="modal" id="purchasePopup">
    <div class="modal__window">
        <div class="modal__header">
            <div class="object__title mb-0">Заявка на онлайн покупку</div>
            <button class="modal__close btn_icon" type="button">
                <img src="img/icons/close.svg" alt="Close icon">
            </button>
        </div>
        <div class="modal__body">
            <div class="object__text modal__text mb-4 mb-md-5">В онлайн покажем место строительства, прилегающую инфраструктуру, дойдем до пляжа. Организуем видео встречу в офисе застройщика. Дистанционно проведем сделку</div>
            <div class="modal__item">
                <h4 class="modal__title">Не выходя из дома вы сможете:</h4>
                <ol class="object-list__decimal object-list__decimal_modal">
                    <li>Получить полную информация о выбранной локации, ЖК, условиях бронирования, рассрочки и покупки.</li>
                    <li>Выбрать и забронировать квартиру в онлайн.</li>
                    <li>Получить рекомендации по способам оплаты</li>
                    <li>Совершить покупку</li>
                </ol>
            </div>
            <div class="text-md-center text-primary modal__title my-4 my-md-5">Онлайн показ позволит Вам сэкономить деньги и время</div>
            <div class="modal__inner d-md-flex justify-content-between">
                <div class="modal__item mb-5 mb-md-0">
                    <h4 class="modal__title">Онлайн покупка</h4>
                    <div class="d-flex align-items-center mb-2">
                        <img class="object-stats__icon object-stats__icon_modal" src="img/icons/object/plus.svg" alt="Profit icon">
                        <span class="modal__text modal__text_mb">Кэшбек 1%-2%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <img class="object-stats__icon object-stats__icon_modal" src="img/icons/object/clock.svg" alt="clock icon">
                        <span class="modal__text modal__text_mb">Время на покупку 3-6 часов</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="object-stats__icon object-stats__icon_modal" src="img/icons/object/cash.svg" alt="cash icon">
                        <span class="modal__text modal__text_mb">Затраты: до 30 000 руб.</span>
                    </div>
                </div>
                <div class="modal__item pr-9">
                    <h4 class="modal__title">Оффлайн покупка</h4>
                    <div class="d-flex align-items-center mb-2">
                        <img class="object-stats__icon object-stats__icon_modal" src="img/icons/object/plus.svg" alt="Profit icon">
                        <span class="modal__text modal__text_mb">Кэшбек 1%-2%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <img class="object-stats__icon object-stats__icon_modal" src="img/icons/object/plane.svg" alt="plane icon">
                        <span class="modal__text modal__text_mb">Компенсация авиабилета</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <img class="object-stats__icon object-stats__icon_modal" src="img/icons/object/clock.svg" alt="clock icon">
                        <span class="modal__text modal__text_mb">Время на покупку от 4 дней</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="object-stats__icon object-stats__icon_modal" src="img/icons/object/cash.svg" alt="cash icon">
                        <span class="modal__text modal__text_mb">Затраты: от 100 000 руб.</span>
                    </div>
                </div>
            </div>
            <div class="modal__text my-4 my-md-5">Просто заполните заявку и мы свяжется с Вами, чтобы предложить время онлайн встречи, удобное для Вас.</div>
            <form class="form flex-md-nowrap">
                <input type="text" class="form-control form-control_modal required" placeholder="WhatsApp или Telegram" required>
                <button class="btn btn-primary btn-md modal__btn" type="submit">Отправить заявку</button>
            </form>
        </div>
    </div>
</div>