<aside class="sidebar">
  <div class="sidebar__wrapper">
    <div class="sidebar__logo">
      <img class="img" src="img/logo.svg" alt="Logo">
    </div>
    <input class="form-control" type="text" id="globalSearch" placeholder="Search">
    <nav class="sidebar-nav">
      <a class="sidebar-nav__link" href="#">
        <svg class="sidebar-nav__icon">
          <use href="img/icons/icons.svg#home" />
        </svg>
        Home
      </a>
      <a class="sidebar-nav__link" href="#">
        <svg class="sidebar-nav__icon">
          <use href="img/icons/icons.svg#history" />
        </svg>
        History
      </a>
    </nav>
    <div class="sidebar-list">
      <h2 class="sidebar-list__title">My Lists</h2>
      <ul class="sidebar-list__wrapper">
        <li>
          <a class="sidebar-list__link" href="#">
            <img class="sidebar-list__icon" src="img/watchlist-icon.png" alt="watchlist icon">
            Movies by Tom Cruise
          </a>
        </li>
        <li>
          <a class="sidebar-list__link" href="#">
            <img class="sidebar-list__icon" src="img/watchlist-icon.png" alt="watchlist icon">
            Detectives
          </a>
        </li>
      </ul>
      <a class="sidebar__btn btn" href="#">+ Create watchlist</a>
    </div>
    <div class="sidebar-profile">
      <div class="sidebar-profile__left">
        <img class="sidebar-profile__photo img" src="img/user-icon.svg" alt="User photo">
      </div>
      <div class="sidebar-profile__right">
        <a class="sidebar-profile__name" href="#">Guest</a>
        <a class="sidebar-profile__nickname" href="#">@Guest</a>
      </div>
      <button class="sidebar-profile__btn btn-clear" type="button">
        <svg>
          <use href="img/icons/icons.svg#options" />
        </svg>
      </button>
    </div>
  </div><!-- /.sidebar__wrapper -->
</aside><!-- ./sidebar -->